@using WellsOperaticSociety.Models.ReportModels
@model List<VehicleRegistrationModel>
@{
    //TODO: ADD in page header for styling
    var subList = new List<List<VehicleRegistrationModel>>();
    var breakPoint = 40;
    if (Model != null && Model.Any())
    {
        var chunkCount = Model.Count() / breakPoint;

        if (Model.Count % breakPoint > 0)
        {
            chunkCount++;
        }

        for (var i = 0; i < chunkCount; i++)
        {
            subList.Add(Model.Skip(i * breakPoint).Take(breakPoint).ToList());
        }
    }
}

<html>
<head>
    <style type="text/css">
        table {
            border-collapse: collapse;
            display: inline-block;
            width: 33%;
        }
        table, th, td {
            border: 1px solid;
        }    
</style>
</head>
<body>

    @if (subList.Any())
    {

        foreach (var list in subList)
        {
            <table>
                <thead>
                <tr>
                    <th>Registration</th>
                    <th>Owner</th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var record in list)
                    {
                        <tr>
                            <td>@record.Registration</td>
                            <td>@record.Member.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
</body>
</html>