<?xml version="1.0" encoding="utf-8"?>
<urlrewritingnet xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
  <rewrites>
    <add name="NoWWW" virtualUrl="^http\://wellslittletheatre\.com/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="http://www.wellslittletheatre.com/$1" redirect="Domain" redirectMode="Permanent" ignoreCase="true" />

    <add name="NoWWWS" virtualUrl="^https\://wellslittletheatre\.com/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="https://www.wellslittletheatre.com/$1" redirect="Domain" redirectMode="Permanent" ignoreCase="true" />

    <add name="Secure" virtualUrl="^http\://(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="https://$1" redirect="Domain" redirectMode="Permanent" ignoreCase="true" />
  </rewrites>
</urlrewritingnet>
