@inherits Umbraco.Web.Mvc.UmbracoViewPage<WellsOperaticSociety.Web.Models.AddMembersToFunctionViewModel>
@if (Model.Function != null)
{
    <h2>@Model.Function.Name</h2>
    @Html.Partial("AddMemberToFunctionList",Model.MemberRolesInShows)
    @Html.Partial("AddMemberToFunctionForm", Model.NewMemberRolesInShow)
}
else
{
    <p class="alert alert-info">We could not find that function to add members to it</p>
}