@inherits Umbraco.Web.Mvc.UmbracoViewPage<WellsOperaticSociety.Web.Models.ManageMembershipViewModel>
<div>
    @using(Ajax.BeginForm("MemberSearch","AdminSurface", new AjaxOptions() { UpdateTargetId = "memberList" })) {

        <input type="text" name="search" id="search"/>
        <button type="submit">Search</button>
    }
</div>
<div id="memberList">
    @Html.Partial("ManageMemberList",Model.Members);
</div>
