@inherits Umbraco.Web.Mvc.UmbracoViewPage<WellsOperaticSociety.Web.Models.ManageMembershipViewModel>
<div class="col-xs-12" style="margin-bottom: 1rem;">
    @using (Ajax.BeginForm("MemberSearch", "AdminSurface", new AjaxOptions() {UpdateTargetId = "memberList", LoadingElementId = "loading-icon" }))
    {
        <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="Search members..." id="search"/>
            <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </span>
        </div><!-- /input-group -->
    }
    <div id="loading-icon" class="loading-wrapper" style="display:none;">
        <div class="lds-css ng-scope">
            <div style="width:100%;height:100%" class="lds-dual-ring">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 clearfix">
    <div id="memberList">
        <div class="alert alert-info"><i class="fa fa-search"></i> Search for members above</div>
        @*@Html.Partial("ManageMemberList", Model.Members)*@
    </div>
</div>