@using WellsOperaticSociety.BusinessLogic
@using WellsOperaticSociety.Models.UmbracoModels
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var dm = new DataManager();
    var functions = dm.GetFunctions(30, 0);
    var addMembersUrl = dm.GetAddMemberToFunctionNode().Url;
    var manageVouchersUrl = dm.GetManageVouchersNode().Url;
}
@functions{

    private string GetImage(Function function)
    {
        if (function.Image != null && function.Image.Any())
            return function.Image.First().GetCropUrl();
        return string.Empty;
    }

}
@if (functions.Any())
{
    <table class="table table-hover">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @foreach (var function in functions)
            {
                <tr><td style="max-width: 300px;"><img class="img-responsive" src="@GetImage(function)"/></td><td>@function.Name</td><td><a class="btn btn-create" href="@addMembersUrl?id=@function.Id">Manage member roles</a><a class="btn btn-create" href="@manageVouchersUrl?id=@function.Id">Send vouchers</a></td></tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="alert-info">Ther are no functions in the system yet for you to manage</p>
}