
<a href="@Url.Action("VehicleRegistrationReport", "AdminSurface")" class="btn btn-default btn-fill">Download Vehicle Registration List</a><br/>
<a href="@Url.Action("LongServiceReport", "AdminSurface")" class="btn btn-default btn-fill">Download long service awards</a>
