@using WellsOperaticSociety.BusinessLogic
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var dm = new DataManager();
    var functions = dm.GetFunctionListNode().Children();

    var members = ApplicationContext.Current.Services.MemberService.GetAllMembers();

    var dt = new DataTransfer();

    dt.PopulateMemberRoles();
    dt.PopulateMemberShips();
    dt.PopulateLongServiceAwards();
}
<h2>Function id and prev sys id</h2>
    <div>
        @foreach (var func in functions)
        {
            var x = string.Format("{{{1},{0}}},", func.Id, func.GetPropertyValue<int>("previousSystemId"));
            @x<br/>
        }
    </div>
<h2>Member id and prev sys id</h2>
<div>
    @foreach (var mem in members)
    {
        var x = string.Format("{{{1},{0}}},", mem.Id, mem.Properties["previousSystemId"].Value);
        @x<br/>
    }
</div>
