
<div class="container">
    <div class="row clearfix">
        <div class="grid-section">
            <div class="col-md-12 column">
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
                }
                else
                {
                    @Html.Partial("ForgotPasswordForm", new WellsOperaticSociety.Models.MemberModels.ForgotPassword())
                }
            </div>
        </div>
    </div>
</div>