@inherits Umbraco.Web.Macros.PartialViewMacroPage
<!-- Begin MailChimp Signup Form -->
@*<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>*@
<div id="mc_embed_signup" style="padding: 25px 0;" class="clearfix">
    <form action="//littletheatrewells.us13.list-manage.com/subscribe/post?u=1fd72b651ec8d4af0c10fc00b&amp;id=fb0dec9ab6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <div class="col-sm-7 col-md-9"><input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Enter your email...." required>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_1fd72b651ec8d4af0c10fc00b_fb0dec9ab6" class="form-control" tabindex="-1" value="">
            </div>
            <div class="col-sm-5 col-md-3">
                <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-fill btn-info">Subscribe to our mailing list</button>
            </div>
        </div>
    </form>
</div>

<!--End mc_embed_signup-->