@using WellsOperaticSociety.BusinessLogic
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var dm = new DataManager();

    var documents = dm.GetMinuets();
}
@functions
{
    private string GetDocumentUrl(IPublishedContent content)
    {
        var id = content.GetPropertyValue<int>("document");
        if (id == 0)
            return string.Empty;
        return Umbraco.TypedMedia(id).Url;
    }
}
@if (documents.Any())
{
    foreach (var minutes in documents)
    {
        <div>
            <a href="@GetDocumentUrl(minutes)">
                <h2>@minutes.Name</h2>
                <p>@Html.Raw(minutes.GetPropertyValue<string>("description"))</p>
            </a>
        </div>
    }
}
else
{
    <div class="alert alert-info">There are no minutes recorded yet</div>
}
