@using WellsOperaticSociety.BusinessLogic
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var dm = new DataManager();

    var documents = dm.GetMinuets();
}
@functions
{
    private string GetDocumentUrl(IPublishedContent content)
    {
        var id = content.GetPropertyValue<int>("document");
        if (id == 0)
            return string.Empty;
        return Umbraco.TypedMedia(id).Url;
    }
    private string GetDocumentExtension(IPublishedContent content)
    {
        var id = content.GetPropertyValue<int>("document");
        if (id == 0)
            return string.Empty;
        string extension = Umbraco.TypedMedia(id).GetProperty("umbracoExtension").Value.ToString();
        return extension;

    }
}
@if (documents.Any())
{
    foreach (var minutes in documents)
    {
        <div class="row">
            <div class="col-sm-2"><div class="file-icon file-icon-xl" data-type="@GetDocumentExtension(minutes)"></div></div>
            <div class="col-sm-10">
                <a href="@GetDocumentUrl(minutes)">
                    <h2>@minutes.Name</h2>
                    <p>@Html.Raw(minutes.GetPropertyValue<string>("description"))</p>
                </a>
            </div>
        </div>
    }
}
else
{
    <div class="alert alert-info">There are no minutes recorded yet</div>
}
