@using WellsOperaticSociety.BusinessLogic
@using umbraco.MacroEngines
@using umbraco.NodeFactory
@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div class="sitemap">
    @{
        var excludedDt = DataManager.GetSitemapExcludedDocumentTypes();
        @Traverse(Umbraco.TypedContentAtRoot(), excludedDt);
    }
</div>

@helper Traverse(IEnumerable<IPublishedContent> nodes, List<string> excludedDt)
{
var maxLevelForSitemap = 4;

var items = nodes.Where("Visible").Where(n => n.Level <= maxLevelForSitemap && n.GetPropertyValue<int>("excludeFromSitemap") != 1);

if (items.Any())
{
    <ul>
        @foreach (var item in items)
        {
            if (!excludedDt.Contains(item.DocumentTypeAlias))
            {
                <li class="level-@item.Level">
                    <a href="@item.Url">@item.Name</a>

                    @Traverse(item.Children, excludedDt)
                </li>
            }
        }
    </ul>
}
}